@model IEnumerable<Movie>



@foreach (var movies in Model)
{
    <div class="card mb-3">
        <div class="row no-gutter">
            <div class="col-md-3">
                <img src="~/img/@movies.ImageUrl" alt="@movies.Name" class="card-img" />
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-little" style="text-align:center">
                        <a asp-action="Details" asp-controller="Movie" asp-route-id="@movies.Id">@movies.Name</a>
                    </h5>
                    <p class="card-text" style="text-align:center">
                        @Html.Raw(@movies.ShortDescription)
                    </p>
                    <br /><br /><br /><br />
                    <h6 class="card-little" style="text-align: match-parent;">
                        <strong>Director:</strong>@Html.Raw(@movies.Director)
                    </h6>
                    <h6 class="card-little">
                        <strong>Stars:</strong>@Html.Raw(@movies.Stars)
                    </h6>
                    <p class="card-text" style="text-align:end;">
                        <small class="text-muted">- days ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>

}












